$finalHeight: 250px;
$finalWidth: 3 * $finalHeight;
$scrollBarHeight: 1px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

html, body {
  background-color: #1BB3B6;
  color: #FAFAC8;
  width: 100%;
  text-align: center;
  padding-top: 25px;

}

h1 {
  color: #FAFAC8;
}
.mainViewWindow {
  background-color: #1BB3B6;
  color: #FAFAC8;
  width: 95%;
  height: 100%;
  position: relative;
  margin: auto;
  border-width: : 5px;
  border-style: double;
  border-color: #FAFAC8;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 10px;
}
.the_story {
  background-color: #FAFAC8;
  color: #1BB3B6;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.scroller {
  height: 200px;
  margin:10px;
  padding:5px;
  border-width: : 5px;
  border-style: double;
  border-color: #FAFAC8;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  /* white-space: nowrap; */
  /* overflow-y: hidden; */
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: calc(#{$finalHeight} + #{$scrollBarHeight});
  max-height: $finalWidth;
  margin: 5px;
  padding-top: $scrollBarHeight;
  transform: rotate(-90deg) translateY(-$finalHeight);
  transform-origin: right top;
  & > div {
    display: block;
    padding: 0px;
    background: #cab;
    transform: rotate(90deg);
    transform-origin: right top;
  }
}

.token_pouch {
  margin: 20px;
  padding: 20px;
}
.eth_bal {
  margin: 100px;
  padding: 100px;
}
.angelsroom {
  /* padding-top: 65px; */
}
.next_rnd {
  width: 20%;
  margin-right: 40%: ;
  text-align: center;
}
.last_rnd {
  width: 20%;
  margin-left: 20%: ;
  text-align: center;
}
.whats_it {
  width: 20%;
  margin: auto;
  text-align: center;
}
#headerlogo {
  width: 100%;
  margin: 2px;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
}
.form_table {
  margin: 5px;
  padding: 5px;
}
#newtokesbtndiv {
  margin: 10px;
}
#newtokesbutton {
  height: 150px;
  width: 300px;
  margin: 0px;
  padding: 0;
  background: url("../ATEth_Logo.png");
  background-position: center;
  background-size: 75% 130px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  color: #1BB3B6;
  cursor: pointer;
}
/* rgb(0,120,120) = #007878 */
/* rgb(200, 91, 0) = #C85B00*/
/* rgb(102,213,213) = #66D5D5*/
