<div class="angelsroom" ng-controller="StoreFrontController" ng-init="loadTheBlock(); fetchCurrentAlm(); fetchConnectedAccountsAlms();">
  <atnavbarstorefrontangelsroom></atnavbarstorefrontangelsroom>
  <div>
    <script>document.getElementById("toke_fro").style.backgroundImage = "url({{cur_alm.img}})";</script>
    <br/>
    <div class="progress-wrapper">
      <div class="progress">
        <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100">
              {{cur_alm.tokens_sold}}
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <p>This Round : </p>
    <div class="flip-container">
      <div class="flipper">
        <div class="token_front" id="toke_fro"></div>
        <div class="token_back">
            <table>
                <thead class="tokenhead">{{cur_alm.status}}<hr class="tokebreak"/></thead>
                <tbody>
                    <h1 class="token-text">{{cur_alm.name}}</h1>
                    <a href="{{cur_alm.uri}}" style="text-decoration:none;" target="_blank" rel="noopener noreferrer"><h1 class="token-text">{{cur_alm.uri}}</h1></a>
                    <h1 class="token-text">{{cur_alm.id}} </h1>
                    <h1 class="token-text">{{cur_alm.product}}</h1>
                    <h1 class="token-text">{{cur_alm.cost}}</h1>
                    <h1 class="token-text">0.000{{cur_alm.angel_coefficient}}</h1>
                    <h1 class="token-text">{{cur_alm.mint_date}}</h1>
                    <h1 class="token-text">{{cur_alm.owner_display}}</h1>
                </tbody>
                <tfoot><h1 class="token-text">{{cur_alm.num_issued - cur_alm.tokens_sold}}/{{cur_alm.num_issued}}</h1></tfoot>
             </table>
          </div>
        </div>
    </div>
  </div>
  <br/>
  <form ng-submit="buy_alms(amt_to_buy)">
    <input type='number' class="buy_counter form_table" placeholder="10" ng-model="amt_to_buy"/>
    <div id="newtokesbtndiv" align="center" class="form_table">
      <input id="newtokesbutton" type='submit' class='btn btn-block btn-primary' value='Buy'/>
    </div>
  </form>
  <br/>
  <hr/>
  <!-- <div>
    <p align="center">Search: <input style="width: 50%;" type='text' class='form-control mb-1' placeholder='id of alm' ng-model="search.alm_id"/>
  </div> -->
  Tokens Owned by Your Connected Account:
  <div class="scroller">
  <div class="flip-container" ng-repeat="alm in AngelTokens">
    <div class="flipper">
      <div class="token_front shimmer">
        <table>
          <tfoot><h1 class="token-text">{{alm.mint_date}}</h1></tfoot>
        </table>
      </div>
      <div class="token_back">
          <table>
              <thead class="tokenhead">{{alm.status}}<hr class="tokebreak"/></thead>
              <tbody>
                  <h1 class="token-text">{{alm.name}}</h1>
                  <h1 class="token-text"><a href="{{alm.uri}}" style="text-decoration: underline; padding: 0px; margin: 0px;" target="_blank" rel="noopener noreferrer">{{alm.uri}}</a></h1>
                  <h1 class="token-text">{{alm.id}} </h1>
                  <h1 class="token-text">{{alm.product}}</h1>
                  <h1 class="token-text">{{alm.cost}}</h1>
                  <h1 class="token-text">0.000{{alm.angel_coefficient}}</h1>
                  <h1 class="token-text">{{alm.owner_display}}</h1>
              </tbody>
              <tfoot><h1 class="token-text">{{alm.bal}} / {{alm.num_issued}}</h1></tfoot>
           </table>
        </div>
      </div>
  </div></div>
  <hr/>
  <div class="eth_bal">
    <div class="container-fluid mt-5">
      <div><a href="https://www.google.com/search?q=eth+to+dollars&rlz=1C5CHFA_enUS926US926&oq=eth+to+dollars&aqs=chrome..69i57j0i22i30l4.3528j1j7&sourceid=chrome&ie=UTF-8" target="_blank">Google Eth To Dollar Converter</a></div>
      <hr/>
      <div class="row text-center">
        <br />
        <br />
        <h1>ETH Balance Fetcher</h1>
        <p>Enter an Ethereum Address:</p>
        <input type="text" size="50" id="address" />
        <br />
        <button class="btn btn-primary" type="button" ng-click="getBalance()">Get Balance</button>
        <br />
        <div id="output"></div>
      </div>
    </div>
  </div>
</div>
