<div class="angelsroom" ng-controller="AngelsRoomController" ng-init="loadTheBlock()">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="http://localhost:3001/#!/AngelsRoom" target="_blank" rel="noopener noreferrer">
      Angel Tokens
    </a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap d-none d-sm-none d-sm-block">
        <small class="text-white"><span id="account">{{account}}</span></small>
      </li>
    </ul>
  </nav>

  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-lg-12 d-flex text-center">
        <div class="content mr-auto ml-auto">
          <h1>Issue Angel Token</h1>
          <form ng-submit="manifest_angel_token(new_alm)">
            <input type='text' class='form-control mb-1' placeholder='foo endeavor' ng-model="new_alm.ename"/>
            <input type='text' class='form-control mb-1' placeholder='FEND' ng-model="new_alm.esym"/>
            <input type='text' class='form-control mb-1' placeholder='1000' ng-model="new_alm.issue_num"/>
            <input type='text' class='form-control mb-1' placeholder='12/12/2020' ng-model="new_alm.mint_date"/>
            <input type='text' class='form-control mb-1' placeholder='10' ng-model="new_alm.cost"/>
            <input type='text' class='form-control mb-1' placeholder='0005' ng-model="new_alm.angel_coefficient"/>
            <input type='text' class='form-control mb-1' placeholder='1' ng-model="new_alm.status"/>
            <input type='text' class='form-control mb-1' placeholder='1/2 lb of bull shit' ng-model="new_alm.product"/>
            <input type='submit' class='btn btn-block btn-primary' value='Manifest Tokens' />
          </form>
        </div>
      </div>
    </div>
  </div>
<hr/>
  <div>
      <div class="row text-center">
        <div class="col-md-3 mb-3" ng-repeat="alm in AngelTokens">
            <hr/>
            <div class="token-front"></div>
            <div class="token-back token">
              <table>
                  <br/>
                  <thead class="tokenhead">{{alm.status}}<hr class="tokebreak"/></thead>
                  <tbody>
                      <h1 class="token-text">{{alm.id}}</h1>
                      <h1 class="token-text">{{alm.uri}}</h1>
                      <h1 class="token-text">{{alm.product}}</h1>
                      <h1 class="token-text">{{alm.cost}}</h1>
                      <h1 class="token-text">0.000{{alm.angel_coefficient}}</h1>
                      <h1 class="token-text">{{alm.mint_date}}</h1>
                      <h1 class="token-text">{{alm.issue_num}}/{{totalSupply}}</h1>

                  </tbody>
                  <tfoot></tfoot>
               </table>
            </div>
            <hr/>
        </div>
      </div>
  </div>

  <hr/>

  <div>
      <br />
      <br />
      <h1>ETH Balance Fetcher</h1>
      <p>Enter your Ethereum Address:</p>
      <input type="text" size="50" id="address" />
      <button type="button" ng-click="getBalance()">Get Balance</button>
      <br />
      <br />
      <div id="output"></div>
  </div>
</div>
